@media (min-width: 768px) {

  .container-my {
    position: relative;
  }

  header {
    min-height: 560px;
    padding-top: 130px;

    .top-line {
      .hamburger-wrapper {
        display: none;
      }

      .top-menu {
        display: block;
        width: auto;
        background-color: transparent;
        top: 5px;
        margin-left: 14px;

        li {
          display: inline-block;
          padding: 7px 5px 13px 5px;
          margin-right: 21px;

          &:hover {
    
            a {
              color: #ffffff;
            }
          } 
        }
        
        .item-active a {
            color: #ffffff;
        }
      }
    }

    .top-line.fixed {
      .top-menu {

        li {
          &:hover a {
            color: $text-color;
          }
        }

        a {
          color: #a2a6af;
        }

        .item-active {
          border-bottom: 4px solid $color-primary;

          a {
            color: $text-color;
          }
        }
      }
    }   

    .slider {
      .slide {
        padding-top: 120px;
      }

      .h2 {
        font-size: 30px;
      }
    }

    .header-image-wrapper {
      position: absolute;
      right: 0;
    }

    .header-image {
      max-width: 400px;
    }
  }  
}

@media (min-width: 992px) {

  .container-my {
    max-width: 970px;
  }

  header {
    .header-image {
      max-width: 420px;
    }
  }

}

@media (min-width: 1200px) {

  .container-my {
    max-width: 1170px;
  }

  header {
    padding-top: 118px;

    .header-image {
      max-width: 570px;
    }

    .top-line {
      .top-menu {
        margin-left: 35px;
      }
    }
  }

}
