@import "vars";
@import "fonts";
@import "libs";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #bbbbbb;
}

header {
  .top-line {
    position: fixed;
    width: 100%;
    padding-top: 16px;

    .logo-image-wrapper {
      display: inline-block;
    }

    .logo-image {
      height: 30px;
    }

    .logo-text {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 28px;
      line-height: 28px;
      vertical-align: top;
      margin-left: 6px;
    }

    .logo-text-bold {
      font-weight: 800;
    }
    
    .hamburger-wrapper {
      position: absolute;
      padding: 17px 11px;
      background-color: #26282c;
      border-radius: 4px;
      top: -6px;
      right: 10px;
    
      .hamburger {
        position: relative;
        background-color: #ffffff;
        height: 3px;
        width: 22px;
    
        &::before, &::after {
          content: "";
          position: absolute;
          background-color: #ffffff;
          height: 3px;
          width: 100%;        
        }
    
        &::before {
          top: 7px;
        }
    
        &::after {
          bottom: 7px;
        }
      }
    }
  }
}

@import "media";