@import "vars";
@import "fonts";
@import "libs";

a, a:hover {
  text-decoration: none;
  color: #ffffff;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  padding-top: 89px;
  padding-bottom: 35px;
}

.section-h2 {
  text-transform: capitalize;
  color: $text-color;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 13px;
}

.section-intro {
  text-align: center;
  color: #a2a6af;
  margin-bottom: 50px;
}

.container-my {
  max-width: 750px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #bbbbbb;

  .item-active a{
    color: $color-primary;
  }

  .item-active i{
    color: $color-primary;
  }
}

header {
  position: relative;
  padding-top: 412px;
  overflow: hidden;
  
  .top-line {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 16px;
    z-index: 2;

    .logo-image-wrapper {
      display: inline-block;
    }

    .logo-image {
      height: 30px;
    }

    .logo-text {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 28px;
      line-height: 28px;
      vertical-align: top;
      margin-left: 6px;
    }

    .logo-text-bold {
      font-weight: 800;
    }
    
    .hamburger-wrapper {
      position: absolute;
      padding: 17px 11px;
      background-color: #26282c;
      border-radius: 4px;
      top: -6px;
      right: 10px;
    
      .hamburger {
        position: relative;
        background-color: #ffffff;
        height: 3px;
        width: 22px;
    
        &::before, &::after {
          content: "";
          position: absolute;
          background-color: #ffffff;
          height: 3px;
          width: 100%;        
        }
    
        &::before {
          top: 7px;
        }
    
        &::after {
          bottom: 7px;
        }
      }
    }

    .top-menu {
      display: none;
      position: fixed;
      width: 100%;
      top: 60px;
      text-align: center;
      background-color: #26282c;
      padding: 7px 0;
      z-index: 2;
  
      a {
        font-size: 14px;
        font-weight: 700;
        color: rgba(#ffffff, .65);
        -webkit-font-smoothing: antialiased;
      }
  
      li {
        padding: 8px 0 ;
  
        &:hover {
          cursor: pointer;
  
          a {
            color: $color-primary;
          }
        }        
      }
    }
  }

  .top-line.fixed {
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

    .logo-wrapper {
      position: relative;
      top: -3px;
      line-height: 20px;
    }

    .logo-image-wrapper {
      position: relative;
      bottom: 4px;
      background-color: $color-primary;
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }

    .logo-image {
      position: absolute;
      height: 20px;
      top: 50%;
      margin-top: -10px;
      left: 50%;
      margin-left: -10px;
    }

    .logo-text {
      color: $text-color;
    }
  }

  .slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;    

    .slide {
      position: absolute;
      width: 100%;
      z-index: -1;
      height: 100%;
      color: #ffffff;
      padding-top: 100px;
      opacity: 0;
      transition: opacity .7s;
    }

    .slide-active {
      opacity: 1;
    }

    #bg1 {
      background-image: url("../images/hero-1.jpg");
      background-size: cover;
      background-position: center;
    }

    #bg2 {
      background-image: url("../images/hero-2.jpg");
      background-size: cover;
      background-position: center;
    }

    #bg3 {
      background-image: url("../images/hero-3.jpg");
      background-size: cover;
      background-position: center;
    }

    .slider-h2 {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    .slider-intro {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .slider-button {
      display: inline-block;
      font-weight: 700;
      padding: 10px 30px;
      border: 1px solid $color-primary;
      border-radius: 4px;
      background-color: $color-primary;
    }

    .indicators-wrapper {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 30px;
    }

    .indicator {
      display: inline-block;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      background-color: rgba(#ffffff, .65);
      margin-right: 4.5px;
      transition: background-color .5s;
    }

    .indicator.active {
      background-color: $color-primary;
    }
  }

  .header-image {
    max-width: 320px;
  }
}

.about {
  background-color: #ffffff;

  .technologies {
    text-align: center;
    margin-bottom: 120px;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0 10px;
      margin-bottom: 15px;
    }
  }

  .advantages {
    text-align: center;
    margin-bottom: 40px;

    .advantages-item {
      padding-right: 25px;
      padding-left: 25px;
      margin-bottom: 60px;

      .about-image-wrapper {
        margin-bottom: 22px;
      }
  
      .advantages-h3 {        
        text-transform: capitalize;
        color: $color-primary;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 14px;
      }
  
      .advantages-desc {
        color: $text-color-secondary;
        font-size: 14px;
        line-height: 1.45;
      }
    }

    .col-12:last-child .advantages-item {
      margin-bottom: 0;
    }
  }

  
}

.reviews {
  background-color: $color-primary;
  background-image: url("../images/map.png");  
  background-size: cover;
  background-position: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 105px;

  .section-h2 {
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 60px;
  }

  .review {
    display: flex;
    position: relative;
    margin-bottom: 45px;

    .reviews-image-wrapper {
      position: absolute;      
      width: auto;
  
      img {
        height: 60px;
      }
    }
  
    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border: 10px solid transparent;      
    }

    .comment {
      display: inline-block;
      font-size: 14px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, .2);    
      padding: 15px;      
      border-radius: 4px;   
    }

    .sign {
      margin-top: 15px;
      line-height: 1.43;
      display: block;
      color: $text-color;
    }
  }

  .review-left {
    .reviews-image-wrapper {
      left: 0;
      top: 0;
    }

    .triangle {
      top: 30px;
      left: 65px;
      border-right: 10px solid rgba(0, 0, 0, .2);
    }

    .comment {
      margin-left: 85px;
    }
  }
  
  .review-right {
    .reviews-image-wrapper {
      right: 0;
      top: 0;
    }

    .triangle {
      top: 30px;
      right: 65px;
      border-left: 10px solid rgba(0, 0, 0, .2);
    }

    .comment {
      margin-right: 85px;
      margin-left: auto;
    }
  }

  .col-12:last-child .review {
    margin-bottom: 0;
  }
}

.features {
  background-color: #ffffff;
  padding-bottom: 77px;

  li {
    margin: 14px 0;
    text-align: center;
  }

  i {
    font-size: 14px;
    color: $text-color-secondary;
    font-weight: 900;
    margin-right: 8px;
  }

  a {
    font-size: 14px;
    color: $text-color-secondary;
    transition: color .3s;
  }

  .options {
    margin-bottom: 24px;
  }

  .features-slider {
    position: relative;
    
    .features-slider-item {
      position: absolute;
      z-index: -1;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: opacity .6s;
    }

    .features-item-active {
      position: relative;
      opacity: 1;
      z-index: 1;
    }

    img {
      width: 100%;
    }
  }
}

.team {
  background-color: #f5f5f5;
  padding-top: 88px;

  .section-intro {
    margin-bottom: 60px;
  }

  .history {
    font-size: 14px;
    text-align: center;
    color: $text-color;
  }
}

@import "media";